body {
    margin: 0;
    padding: 0;
}

.viewport {
    height: 100vh;
    position: relative;
}

.viewport:nth-child(1){
    background: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%);
}

.viewport:nth-child(2){
    background: radial-gradient(circle at 10% 20%, rgb(253, 239, 132) 0%, rgb(247, 198, 169) 54.2%, rgb(21, 186, 196) 100.3%);
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    overflow: hidden;
}

.card {
    display: block;
    overflow: hidden;
}

i {
    position: absolute;
    bottom: 25px;
    right: 10px;
    color: white;
}


