body {
    padding: 5p 15px;
    background-color: #e4e978;
    width: 700px;
    margin: 15px 10px;
}

article {
    border: 1px solid #b2ad7d;
    margin: 15px 10px;
    background-color: #f2f4c0;
    padding: 5px 15px;
}

section > article {
    font-style: italic;
    color: #5c6e91;
}
