@media screen and (max-width: 600px) {
    header {
        background: linear-gradient(rgba(165, 163, 163, 0.3), rgba(165, 163, 163, 0.3)),
        url(https://wallpaperaccess.com/full/329583.jpg);
        background-size: cover; /* Запълва целия елемент */
        background-position: center;
        height: 460px;
        
    }

    header nav {
        justify-content: center;
    }
    header nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .header-title {
        padding-top: 7px;
    }

    .header-title h1 {
        font-size: 2.3em;
    }

    .header-title p {
        font-size: 1.1em;
    }

    .header-title button {
        margin-top: 26px;
    }

    .team-description-wrapper ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .team-description-wrapper ul li {
        padding-bottom: 40px;
    }

    .team-description-wrapper ul li img {
        width: 200px;
        height: auto;
    }

    .team-description-wrapper ul li p:nth-child(3) {
        font-size: 0.8em;
    }

    .about-us {
        padding-inline: 0px;
        margin-inline: 0px;
        width: 100%;
    }

    .about-us p:nth-child(2) {
        font-size: 0.8em;
    }

    .about-us p:nth-child(3) {
        padding-inline: 0px;
        margin-inline: 0px;
        width: 100%;
        padding-inline: 55px;
        font-size: 0.8em;
        text-align: center;
    }

    .choose-us ul {
        display: flex;
        flex-direction: column;
        padding-inline: 130px;
        font-size: 0.9em;
    }

    .choose-us ul li p {
        padding-bottom: 12px;
    }

    .blog-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        width: 30% !important;
    }

    .blog-list ul {
        width: 30% !important;
        margin-inline: 20% !important;
    }

    .blog-list ul li {
        width: 30% !important;
        margin-inline: 20% !important;
    }

    .avatar img {
        width: 100% !important;
        height: 100% !important;
    }

    .item {
        margin-inline: 40% !important;
        display: flex;
        width: 450px;
    }

    .item h4 {
        margin-left: -20px;
        margin-right: -25px;
        margin-bottom: -15px;
        letter-spacing: 1px;
    }

    .item p {
        font-size: 1em;
        margin-left: -20px;
        margin-right: -25px;
        padding-block: 10px;
    }
}